.hidden {
  display: none;
}

.scroll {
  overflow: auto;
  width: auto;
  height: 100px;
}

table {
  background-color: lightBlue !important;
}


body {
  background: no-repeat fixed url("../../public/img/montagne.jpg");
}

.back {
  background-color: rgba(0,0,0,0.5);
}

/* .nav-item {
  margin-left: 50px
} */

.titre {
  color: white
}

/* @media () {
  #navbarNav {
    flex-direction: row;
    justify-content: flex-start;
  }
} */
