#modalRecupIdGlobal {
  text-align: center;
  color: black;
  font-family: "Helvetica LT Std", "sans serif";
}

#modalHeader {
  background-color: #f1c40f;
}

#modalBody p {
  font-style: italic;
  background-color: rgba(255, 255, 255, 0);
  height: 122px;
}

#modalFooter {
  background-color: rgba(255, 255, 255, 0.8);
}

#close {
  margin: auto;
  color: black;
  background-color: #f1c40f;
}
