#page {
  background-image: url("../images/sign_in_background.jpg"); /* Adresse en relatif donc par rapport au fichier .css */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: auto;
  display: flex;
  font-family: "Arial", "sans serif";
}

#titre {
  flex-wrap: nowrap;
  align-items: flex-start;
}

.contenu {
  margin-left: 6%;
  margin-top: auto;
  height: 90%;
}

#logo {
  width: 10rem;
  margin-right: -2.5rem;
}

#logo img {
  width: 100%;
  margin-top: -20%;
}

h1, h2, h3, .instructions {
  color: white;
}

h1 {
  font-style: italic;
  font-size: 4rem;
  margin-top: 5%;
  margin-bottom: 12%;
  font-family: "Helvetica LT Std", "sans serif";
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: 3rem;
  margin: 0px;
  text-shadow: 1px 1px 2px black;
}

h3 {
  font-size: 2rem;
  font-family: "Helvetica LT Std", "sans serif";
}

i {
  color: #f1c40f;
  font-size: 2rem;
}

.instructions, .instructionsAlerte {
  margin-top: 2%;
  margin-bottom: 2%;
  text-shadow: 1px 1px 2px black;
  font-family: "Helvetica LT Std", "sans serif";
  font-size: 1.5rem;
  font-style: italic;
  }

.instructionsAlerte {
  color: #f1c40f;
}

/* Formulaire */
.field {
  width: 400px;
  height: 70px;
  margin-bottom: 10px;
}

.field input {
  font-size: 1.5rem !important;
  height: 70px !important;
  border: 0px !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

::placeholder {
  color: grey !important;
  font-size: 1rem !important;
  font-style: italic;
}

#user_login {
  border-top-right-radius: 20px !important;
  color: #f1c40f;
}

#user_password {
  border-bottom-right-radius: 20px !important;
  color: #f1c40f;
}

.field span {
  background-color: rgba(0, 0, 0, 0.6);
  /* border: 0px !important; */
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-color: white;
}

#spanLogin {
  width: 70px;
  border-top-left-radius: 20px !important;
  justify-content: center !important;
}

#spanPassword {
  width: 70px;
  border-bottom-left-radius: 20px !important;
  justify-content: center !important;
}

/* Login ou MDP oublié */

#oubli_form, #create_form {
  text-align: right;
  text-shadow: 1px 1px 2px black;
  font-family: "Helvetica LT Std", "sans serif";
  font-size: 1.2rem;
}

#create_form {
  text-align: left !important;
  margin-top: 10%;
}

#oubli_form a, #create_form a {
  text-decoration: none;
  color: white;
  text-align: right;
  transition: all 0.3s ease-in-out;
}

#oubli_form span, #create_form span {
  color: #f1c40f;
}

#oubli_form:hover a, #create_form:hover a {
  color: #f1c40f;
}

#oubli_form:hover span, #create_form:hover span {
  color: white;
}

/* Connection ans create button */

#btn_valide_connexion, #btn_valide_create {
  color: black;
  font-weight: bold;
  background-color: #f1c40f;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  word-spacing: 1rem;
}

#btn_valide_connexion:hover, #btn_valide_create:hover {
  background-color: #fad390;
}

/* Footer */

footer {
  color: white;
  margin-top: 0;
  margin-bottom: 2px;
  font-style: italic;
  text-shadow: 2px 2px 5px black;
  font-family: "Helvetica LT Std", "sans serif";
  font-size: 130%;
}
footer a {
  color: white;
  text-shadow: 1px 1px 2px black;
}

footer a:hover {
  text-decoration: none;
  color: #f1c40f;
  text-shadow: 1px 1px 2px black;
}

/* Footer Modal */
#modalHeader {
  background-color: #f1c40f;
}

#modalBody p, #modalBody h5 {
  font-style: italic;
  color: white;
}

#close {
  margin: auto;
  color: black;
  background-color: #f1c40f;
}

#modalFooterSpy {
  text-align: center;
  color: black;
  font-family: "Helvetica LT Std", "sans serif";
}

#modal-content {
  background-color: rgba(0, 0, 0, 0.8);
}

#modalFooterSpy a {
  color: white;
}

#modalFooterSpy h3 {
  color: white;
}

#modalFooterSpy a:hover {
  text-decoration: none;
  color: #f1c40f;
}

#github {
  color: white;
}

#github:hover {
  color: #f1c40f;
}

#github i {
  font-size: 400%;
}


/* Sidenav Create Account */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  text-align:center;
  background-color: rgba(0, 0, 0, 0.6);
  border-left: solid 1px #f1c40f;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

#infoCreate {
  margin-top: 25px !important;
}

#infoCreate a {
  padding: 0;
  margin-top: 25px !important;
  text-decoration: none;
  font-size: medium;
  color: black;
  display: inline;
}

#infoCreate a:hover {
  color: #f1c40f;
}

.sidenav a:hover{
  color: #f1c40f;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Formulaire de Sidenav */
#sidenavCreateAccount {
  height: 100vh;
}

#sidenavCreateAccount i {
  text-shadow: 1px 1px 2px black !important;
}

#sidenavCreateAccount .field {
  width: 400px;
  height: 70px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#sidenavCreateAccount .field input {
  font-size: 1.5rem !important;
  height: 70px !important;
  border: 0px !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

#sidenavCreateAccount .field span {
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-color: grey;
}

#sidenavCreateAccount ::placeholder {
  color: black !important;
  font-size: 1rem !important;
  font-style: italic;
  text-shadow: none !important;
}

#spanCreateLogin {
  width: 70px;
  border-top-left-radius: 20px !important;
  justify-content: center !important;
}

#user_CreateLogin {
  border-top-right-radius: 20px !important;
  color: #f1c40f;
  text-shadow: 1px 1px 2px black !important;
}

#spanCreatePassword, #spanCreateMail {
  width: 70px;
  justify-content: center !important;
}

#user_CreatePassword, #user_CreateMail {
  color: #f1c40f;
  text-shadow: 1px 1px 2px black !important;
}

#spanConfirmPassword {
  width: 70px;
  border-bottom-left-radius: 20px !important;
  justify-content: center !important;
}

#user_ConfirmPassword {
  border-bottom-right-radius: 20px !important;
  color: #f1c40f;
  text-shadow: 1px 1px 2px black !important;
}

#btn_valide_create {

}

/* Media querie de Sidenav */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* RecupId Modal */
#modalRecupId iframe {
  height: 325px;
  width: auto;
  border: 0px;
}
