#page {
  background-image: url("../images/sign_in_background.jpg"); /* Adresse en relatif donc par rapport au fichier .css */
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  width: auto;
  display: flex;
  font-family: "Arial", "sans serif";
}

#titre {
  flex-wrap: nowrap;
  align-items: flex-start;
}

.contenu {
  margin-left: 10%;
  margin-top: auto;
  height: 90%;
}

#logo {
  width: 5rem;
}

#logo img {
  width: 100%;
}

h1, h2, h3, .instructions {
  color: white;
}

h1 {
  font-style: italic;
  font-size: 4rem;
  margin-bottom: 20%;
  font-family: "Helvetica LT Std", "sans serif";
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: 3rem;
  margin: 0px;
  text-shadow: 1px 1px 2px black;
}

h3 {
  font-size: 2rem;
  font-family: "Helvetica LT Std", "sans serif";
}

.instructions {
  margin-top: 2%;
  margin-bottom: 2%;
  text-shadow: 1px 1px 2px black;
  font-family: "Helvetica LT Std", "sans serif";
  font-size: 1.5rem;
  font-style: italic;
  }

/* Formulaire */

.field {
  width: 400px;
  height: 70px;
  margin-bottom: 10px;
}

.field input {
  font-size: 1.5rem !important;
  height: 70px !important;
  border: 0px !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

::placeholder {
  color: grey !important;
  font-size: 1rem !important;
  font-style: italic;
}

#user_login {
  border-top-right-radius: 20px !important;
  color: #f6b93b;
}

#user_password {
  border-bottom-right-radius: 20px !important;
  color: #f6b93b;
}

.field span {
  background-color: rgba(0, 0, 0, 0.6);
  /* border: 0px !important; */
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-color: white;
}

#spanLogin {
  width: 70px;
  border-top-left-radius: 20px !important;
  justify-content: center !important;
}

#spanPassword {
  width: 70px;
  border-bottom-left-radius: 20px !important;
  justify-content: center !important;
}

/* Login ou MDP oublié */

#oubli_form {
  text-align: right;
  text-shadow: 1px 1px 2px black;
  font-family: "Helvetica LT Std", "sans serif";
  font-size: 1.2rem;
}

#oubli_form a {
  text-decoration: none;
  color: white;
  text-align: right;
  transition: all 0.3s ease-in-out;
}

#oubli_form span {
  color: #f6b93b;
}

#oubli_form:hover a {
  color: #f6b93b;
}

#oubli_form:hover span {
  color: white;
}

/* Connection button */

#btn_valide_connexion {
  color: black;
  font-weight: bold;
  background-color: #f6b93b;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  word-spacing: 1rem;
}

#btn_valide_connexion:hover {
  background-color: #fad390;
}

/* Footer */

footer {
  color: white;
  margin-top: auto;
  margin-bottom: 2px;
  font-style: italic;
  text-shadow: 2px 2px 5px black;
  font-family: "Helvetica LT Std", "sans serif";
  font-size: 130%;
}
footer a {
  color: white;
  text-shadow: 1px 1px 2px black;
}

footer a:hover {
  text-decoration: none;
  color: #f6b93b;
  text-shadow: 1px 1px 2px black;
}

/* Modal (All) */
#modalHeader {
  background-color: #f6b93b;
}

#modalBody p {
  font-style: italic;
  background-color: rgba(255, 255, 255, 0);
}

#modalBody p {
  font-style: italic;
}

#modalFooter {
  background-color: rgba(255, 255, 255, 0.8);
}

#close {
  margin: auto;
  color: black;
  background-color: #f6b93b;
}

/* Footer Modal */
#modalFooterSpy {
  text-align: center;
  color: black;
  font-family: "Helvetica LT Std", "sans serif";
}

#modalFooterSpy a {
  color: black;
}

#modalFooterSpy h3 {
  color: black;
}

#modalFooterSpy a:hover {
  text-decoration: none;
  color: #f6b93b;
}

#github {
  color: black;
}

#github:hover {
  color: #f6b93b;
}

#github i {
  font-size: 400%;
}

/* Recupid Modal */
#modalRecupId {
  text-align:left;
  color: black;
  font-family: "Helvetica LT Std", "sans serif";
}
