.hidden {
  display: none;
}

body {
  font-family: "Arial", "sans serif";
}

h1 {
  color: white !important;
  font-style: italic !important;
  font-size: 4rem !important;
  font-family: "Helvetica LT Std", "sans serif" !important;
  text-shadow: 1px 1px 2px black !important;
}

#logoNav {
  width: 70px !important;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

#detail {
  color: black;
  font-size: 1.5rem;
  background-color: #f1c40f;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-style: italic;
  font-family: "Helvetica LT Std", "sans serif";
  font-weight: bold;
}


body {
  background-image: url('../images/ActionsView_background.jpg') !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.bgc-transparent {
  background-color: rgba(0,0,0,0.75);
}

button[type='button'],
button[type='submit'],
a {
  transform: scale(1);
  transition: transform 0.4s ease;
}

button[type='button']:hover,
button[type='submit']:hover,
a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

input[class='form-control'], select, textarea {
  transform: scale(1);
  transition: transform 0.2s ease;
}

input[class='form-control']:hover, select:hover, textarea:hover {
  transform: scale(1.0125);
  transition: all 0.3s ease;
}

#NavBarLinks {
  color: #f1c40f !important;
}
